*{
    box-sizing: border-box;
    margin:0;
}

body{
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 200%;
}

h1{
    color: #66BFBF;
    /* 1em = 16px  rem is most responsive */
    font-size: 5.6rem;
    font-family: 'Sacramento', cursive;
    margin: 50px auto 0 auto;
    line-height: 2;
}

h2{
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
}

h3{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

h3 ,a {
    color: #11999E
}

.caption {
    font-size: 2.5rem;
}
.pro{
    text-decoration: underline;
}

.top-container {
    background-color: #E4F9F5;
    padding-top: 100px;
    position: relative;
}

.top-container {
    color: #66BFBF;
}

.top-cloud{
    position: absolute;
    /* right: 300px;
    top: 50px; */
    margin-left: 20%;
}

.bottom-cloud{
    position: absolute;
    /* left: 300px;
    bottom: 300px; */
    margin-right: 20%;
}

.middle-container {
    display: block;
    /* flex-wrap: wrap; */
    width: 100vw;
    background-color: rgb(206, 255, 237);
}
.middle-container img {
/* height: 200px; */
/* width: 200px; */
width: 25%;
}
.bottom-container {
    height: 100px;
    width: 100vw;
    background-color: rgb(3, 90, 101);
}

.computer {
    border-radius: 50%;
}


.skill-row {
    max-height: 200px;;
    width: 75%;
    margin: 100px auto 100px auto;
    /* text-align: left; */
    line-height: 2;
    display: inline-block;
    text-align: center;
    align-items: center;
}

.text-container {
    display: inline-block;
    width: 50%;
    align-items: center;
    /* height: 200px; */
    /* height:min-content; */
    margin: auto;
}

p{
    font-size: 1.2rem;
}

/* going to redo alot of the styles and change up color pallette */
/* Need to add some animations possibly to clouds and or menu or icons */